body {
    font-family: Inconsolata, monospace;
    line-height: 1.4em;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1em 0;
    text-transform: uppercase;
}

a {
    color: #7A64AD;
    text-decoration: none;   
}

a:hover {
    color: #333;
    border-bottom: solid #333 2px;
}

h1 > a, h3 > a {
    border-bottom: solid #7A64AD 2px;
}

h2 {
    text-transform: uppercase;
}

.wrap {
    margin-left: 2em;
    margin-right: 2em;
}

footer {
    border-top: 1px solid #eee;
}

@media only screen and (min-width: 768px) {
    article {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-gap: 2em;
        -moz-column-gap: 2em;
        -webkit-column-gap: 2em;
    }

    article section {
        display: inline-block;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }
}

@media only screen and (min-width: 1024px) {
    article {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
}
