body {
    font-family: Inconsolata, monospace;
    font-size: 19px;
    line-height: 27px;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 37px;
    line-height: 54px;
    margin-top: 54px;
    margin-bottom: 27px;
}

h2 {
  font-size: 30px;
  line-height: 54px;
  margin-top: 54px;
  margin-bottom: 27px;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 27px;
  margin-bottom: 27px;
}

a {
    color: #7A16F2;
    text-decoration: none;   
}

pre, code {
    font-family: Inconsolata, monospace;
}

a:hover {
    color: #333;
}

h3 {
    font-size: 24px;
    line-height: 27px;
    margin-top: 27px;
    margin-bottom: 27px;
}

h3 em {
    color: #999;
    font-style: normal;
    font-weight: normal;
}

h3 > a {
    border-color: #999;
    -moz-border-image: -moz-linear-gradient(top, #7A16F2, #F90CB9) 100% 1;
    -o-border-image: -o-linear-gradient(top, #7A16F2, #F90CB9) 100% 1;
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#7A16F2), to(#F90CB9)) 100% 1;
    -webkit-border-image: -webkit-linear-gradient(left, #7A16F2, #F90CB9) 100% 1;
    border-style: solid;
    border-width: 0 0 2px 0;
    color: #333;
    padding-bottom: 1px;
    -webkit-transition: color 1s;
    transition: color 1s;
}

h3 > a:hover {
    -moz-border-image: -moz-linear-gradient(top, #F90CB9, #7A16F2) 100% 1;
    -o-border-image: -o-linear-gradient(top, #F90CB9, #7A16F2) 100% 1;
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#F90CB9), to(#7A16F2)) 100% 1;
    -webkit-border-image: -webkit-linear-gradient(left, #F90CB9, #7A16F2) 100% 1;
    color: #7A16F2;
    /*border-bottom: solid #333 2px;*/
}

.wrap {
    margin-left: 27px;
    margin-right: 27px;
}

aside {
    color: #999;
    margin: 27px 0;
}

footer {
    border-top: 1px solid #eee;
    color: #999;
}

@media only screen and (min-width: 768px) {
    article {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-gap: 2em;
        -moz-column-gap: 2em;
        -webkit-column-gap: 2em;
    }

    article section {
        display: inline-block;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }
}

@media only screen and (min-width: 1024px) {
    article {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
}
